footer{
  width: 100%;
  min-width: 1358px;
  height: 425px;
  background: #fff;
}
footer .part-1{
  width: 1190px;
  height: 70px;
  padding-top: 28px;
  margin: 0 auto;
}
footer .part-1 ul{
  width: 1050px;
  height: 70px;
  margin: 0 70px;
  padding-left: 110px;
  box-sizing: border-box;
}
footer .part-1 ul li{
  float: left;
  height: 52px;
  line-height: 52px;
  position: relative;
  font-size: 14px;
  color: #222222;
}
footer .part-1 ul li span{
  margin-left: 42px;
}
footer .part-1 ul li::after{
  content: "";
  display: inline-block;
  width: 42px;
  height: 52px;
  background: url("../image/shopping_image/base.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
}
footer .part-1 ul li:nth-child(1){
  width: 282px;
}
footer .part-1 ul li:nth-child(2){
  width: 270px;
}
footer .part-1 ul li:nth-child(3){
  width: 202px;
}
footer .part-1 ul li:nth-child(1)::after{
  background-position: -10px -234px;
}
footer .part-1 ul li:nth-child(2)::after{
  background-position: -73px -234px;
}
footer .part-1 ul li:nth-child(3)::after{
  background-position: -179px -234px;
}
footer .part-2{
  width: 100%;
  min-width: 1190px;
  height: 190px;
  background: #f6f6f6;
}
footer .part-2::before{
  display: table;
  height: 0;
  content: "";
}
footer .part-2 ul{
  width: 1190px;
  height: 170px;
  margin:0 auto;
  margin-top: 20px;
  padding-left: 22px;
  box-sizing: border-box;
}
footer .part-2 ul li{
  height: 170px;
  padding: 4px 0 0 16px;
  box-sizing: border-box;
  float: left;
}
footer .part-2 ul li h3 a{
  display: inline-block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #222;
  line-height: 30px;
  text-indent: 0px;
}
footer .part-2 ul li a{
  display: inline-block;
  width: 100%;
  height: 28px;
  font-size: 12px;
  color: #666;
  line-height: 28px;
  text-indent: 10px;
}
footer .part-2 ul li:nth-child(1){
  width: 282px;
}
footer .part-2 ul li:nth-child(2),footer .part-2 ul li:nth-child(3){
  width: 270px;
}
footer .part-2 ul li:nth-child(4){
  width: 218px;;
}
footer a:hover{
  text-decoration: underline;
  color: #999;
}
footer .part-2 ul li h3 a:hover{
  color: #222;
}
footer .part-3{
  width: 1190px;
  height: 42px;
  margin: 25px auto 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  line-height: 42px;
  text-align: center;
  font-size: 12px;
}
footer .part-3 a{
  color: #666;
  margin-right: 16px;
}
footer .part-4{
  width: 740px;
  height: 46px;
  margin: 20px auto;
}
footer .part-4 .riot-logo{
  width: 247px;
  height: 46px;
  float: left;
  background: url("../image/shopping_image/base.png") no-repeat -10px -290px;
  border-right: 1px solid #e9e9e9;
}
footer .part-4 .riot-copy{
  width: 470px;
  height: 100%;
  float: right;
  font-size: 12px;
  color: #666;
  margin-top: 4px;
  line-height: 20px;
}
footer .part-4 .riot-copy a{
  color: #666;
}
footer .part-4 .riot-copy a:hover{
  color: #999;
}