header{
  width: 100%;
  min-width: 1358px;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header .logo{
  width: 100%;
  min-width: 1358px;
  height: 75px;
  line-height: 75px;
  background-color: #000;
}
header .logo .logo-pic{
  display: inline-block;
  width: 297px;
  height: 39px;
  background-position: -2px -147px;
  margin: 18px 0 0 50px;
}
.logo-pic,.logo div span:nth-child(2) i,.logo div span:nth-child(2) em,.logo div span:nth-child(3) i,.logo div span:nth-child(3) em,.logo div span:nth-child(4) i,.logo div span:nth-child(4) em,.nav .search .icon-search{
  background: url("../image/shopping_image/ico-menu.png") no-repeat;
}
.logo div{
  width: 530px;
  height: 38px;
  float: right;
  margin: 22px 25px 0 0;
  font-size: 14px;
}
#out:hover{
  color: #f94915;
}
.logo div span{
  height: 30px;
  line-height: 30px;
  float: left;
  padding-right: 20px;
  cursor: pointer;
}
.logo div span a{
  color: #a1a1a1;
}
.logo div span:nth-child(2){
  width: 110px;
  height: 30px;
  padding-right: 20px;
}
.logo div span i{
  display: inline-block;
  vertical-align: middle;
}
.logo div span:nth-child(2) i{
  width: 28px;
  height: 25px;
  background-position: -2px -13px;
}
.logo div span:nth-child(2) em{
  display: inline-block;
  width: 22px;
  height: 20px;
  background-position: -2px -287px;
  font-style: normal;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.logo div span:nth-child(3){
  margin-right: 20px;
}
.logo div span:nth-child(3) i{
  width: 24px;
  height: 26px;
  background-position: -2px -383px;
}
.logo div span:nth-child(4) i{
  width: 20px;
  height: 20px;
  background-position: -2px -42px;
}
.logo div span:nth-child(3),.logo div span:nth-child(4){
  position: relative;
}
.logo div span:nth-child(3) em,.logo div span:nth-child(4) em{
  display: inline-block;
  width: 6px;
  height: 6px;
  background-position: -32px 0;
  position: absolute;
  top: 12px;
  right: 11px;
}
.logo div span:nth-child(3) ul{
  width: 99px;
  height: 69px;
  position: absolute;
  top: 53px;
  left: -20px;
  background: rgba(0, 0, 0, .7);
  display: none;
}
.logo div span:nth-child(3) ul li{
  width: 100%;
  height: 33px;
  border-top: 1px solid #666;
  box-sizing: border-box;
}
.logo div span:nth-child(3) ul li:nth-child(1){
  border-color: #f94915;
}
.logo div span:nth-child(3) ul li a{
  display: inline-block;
  width: 100%;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-size: 14px;
}
.logo div span:nth-child(3) ul li a:hover{
  color: #fff;
}
.logo div span:nth-child(3):hover ul{
  display: block;  
  z-index: 999;
}
.logo div span:nth-child(3):hover em,.logo div span:nth-child(4):hover em{
  background-position: -24px 0;
}
.logo div span:nth-child(4) .erweima_down{
  display: inline-block;
  width: 90px;
  height: 110px;
  box-sizing: border-box;
  border-top: 1px solid #f94915;
  position: absolute;
  top: 53px;
  background: rgba(0, 0, 0, .7);
  color: #e7e7e7;
  text-align: center;
  display: none;
}
.logo div span:nth-child(4) .erweima_down img{
  width: 82px;
  height: 82px;
  margin: 1px 4px 0;
  vertical-align: top;
}
.logo div span:nth-child(4):hover .erweima_down{
  display: block;
  z-index: 999;
}
.nav{
  width: 100%;
  min-width: 1240px;
  height: 45px;
  background: #202020;
  position: fixed;
  top: 75px;
  left: 0;
}
.nav ul{
  height: 45px;
  margin-left: 20px;
}
.nav ul li{
  width: 122px;
  height: 45px;
  float: left;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  position: relative;
}
.nav ul li>a{
  color: #fff;
}
.nav ul li:hover>a{
  color: #f94915;
}
.nav ul li .nav-down{
  width: 188px;
  height: auto;
  min-height: 120px;
  border-top: 3px solid #f94915;
  background: #181a20; 
  position: absolute;
  top: 45px;
  left: -23px;
  display: none;
}
.nav ul li .nav-down ul{
  width: 85px;
  height: auto;
  padding: 12px 0 10px 15px;
  float: left;
  margin-left: 0;
}
.nav ul li .nav-down ul li{
  width: 85px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  text-align: left;
}
.nav ul li .nav-down a img{
  width: 81px;
  height: 81px;
  position: absolute;
  top: 30px;
  right: 15px;
}
.nav ul li:nth-child(2):hover .nav-down,.nav ul li:nth-child(3):hover .nav-down,.nav ul li:nth-child(4):hover .nav-down,.nav ul li:nth-child(5):hover .nav-down,.nav ul li:nth-child(6):hover .nav-down,.nav ul li:nth-child(7):hover .nav-down{
  display: block;
}
.search{
  width: 285px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 34px;
}
.search input{
  width: 285px;
  height: 30px;
  box-sizing: border-box;
  padding: 2px 6px;
  border: 1px solid #777;
  background: #000;
  color: #fff;
}
.search a{
  display: inline-block;
  width: 45px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background: #fa4f17;
}
.nav .search .icon-search{
  display: inline-block;
  width: 21px;
  height: 21px;
  background-position: -2px -358px;
  position: absolute;
  top: 4px;
  left: 12px;
}